<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>animated background with pure css and html</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <section class="banner-text">

        <div class="animation-area">
            <ul class="box-area">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="container">
            <div class="row" id="heading1">
                <div class="text-center">
                    <h2 id="head">Welcome to my portfolio</h2>
                </div>
            </div>

            <div class="row">

                <div class="section1">

                    <div class="imgsection">


                        <div class="avatar">
                            <div id="proimage">
                                <img class="img-fluid" src="assets/cc.png" alt="" > 
                            </div>
                            <div id="prode">
                               <h5>HI! IM VIVEK.</h5>
                               <p>I am a full stack developer with a wide exprince in technologies like PHP(framework : laravel , micro-framework : lumen) , JavaScript (framework : angular , library : jquery) ,database (MYSQL) , css (library : bootstrap ,material)</p>
                            </div>
                            
                        </div>





                    </div>
                </div>
            </div>

        </div>



    </section>
</body>

</html>