<!-- <div class="container-fluid">
      <div class="navbar">
        <div class="top-left">

            <a id="nav1" style="font-size: 24x;"> HELLO !!!</a>
        </div>
        <div class="top-right">
            <a id="nav2"><i class="fa fa-home" aria-hidden="true"></i> Home </a>
            <a id="nav3" (click)="clickAbout()" type="button" ><i class="fa fa-user-o" aria-hidden="true" ></i> About </a>
            <a id="nav4"><i class="fa fa-briefcase" aria-hidden="true"></i> Works </a>
            <a id="nav5" style="font-size: 20px;margin-right: 18px;"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
        
      </div>
    </div>

    <div class="container-fluid section1">

       <div class="imgsection">
        <div id="proimage">
          <img class="img-fluid" src="assets/cc.png" alt="">
        </div>
        <div id="prode">
          <h5>HI! IM VIVEK.</h5>
          <p>I am a full stack developer with a wide experience in technologies like PHP(framework : laravel ,
            micro-framework : lumen) , JavaScript (framework : angular , library : jquery) ,database (MYSQL) ,
            css (library : bootstrap ,material)</p>
        </div>
      </div> 


    </div>
    <div class="container-fluid section2">hgghv</div>
    <div>iiiiiiiii</div> -->
<div class="container-fluid">
  <div class="navbar">
    <div class="top-left">

      <a id="nav1" style="font-size: 24x;"> HELLO !!!</a>
    </div>
    <div class="top-right">
      <a id="nav2"><i class="fa fa-home" aria-hidden="true"></i> Home </a>
      <a id="nav3" (click)="clickAbout()" type="button"><i class="fa fa-user-o" aria-hidden="true"></i> About </a>
      <a id="nav4"><i class="fa fa-briefcase" aria-hidden="true"></i> Works </a>
      <a id="nav5" style="font-size: 20px;margin-right: 18px;"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>

  </div>
  
</div>
<div id="parallax1" class="parallax-slide ">
   
  
</div>
<div id="pageHr"> 
  <div class="justify-content-center d-flex">

    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </div>
</div>

<div class="container-fluid section1">
  <div class="imgsection">
    <div id="proimage">
      <img class="img-fluid" src="assets/cc.png" alt="">
    </div>
    <div id="prode">
      <h5>HI! IM VIVEK.</h5>
      <p>I am a full stack developer with a wide experience in technologies like PHP(framework : laravel ,
        micro-framework : lumen) , JavaScript (framework : angular , library : jquery) ,database (MYSQL) ,
        css (library : bootstrap ,material) </p>
    </div>
  </div>
</div>
<div id="pageHr"> 
  <div class="justify-content-center d-flex">

    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </div>
</div>

<div class="container-fluid section2">
  <div class="context">
   
  </div>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<script>
  alert("ca hj b");
</script>