<div id="particles-js"></div>
<div class="container">

  <nav class="navbar  justify-content-between">
    <a class="navbar-brand">Navbar</a>
      <button class="sayHello" > Say Hello </button>
  </nav>
  <section>
    <div class="text-center heading" >
      <h1 class="title">Hello welcome to my portfolio</h1>
      <h4 class="subtitle">I design and code beautifully simple things, and I love what I do.</h4>
      <!-- <div > -->

      <!-- </div> -->
      <!-- <div >
        <div class="imgsection">
          <img id="proimage" class="img-fluid" src="assets/cc.png" alt="">

          <div id="prode">
            <h5>HI! IM VIVEK.</h5>
            <p>I am a full stack developer with a wide experience in technologies like PHP(framework : laravel ,
              micro-framework : lumen) , JavaScript (framework : angular , library : jquery) ,database (MYSQL) ,
              css (library : bootstrap ,material) </p>
          </div>
        </div>

        </div> -->
    </div>
  </section>
  <section>
    <div class="parent">
      <div class="imgsection">

        <img id="proimage" class="img-fluid" src="assets/cc.png" alt="">
      </div>
    </div>


  </section>

</div>
