<div class="position-relative">
    <div class="container">
        <nav class="navbar  justify-content-between mt-4">
            <div>
                <a class="navbar-brand"><img class="logoImage" src="assets/logo.png" alt=""></a>
            </div>
            <div>
                <i class="bi bi-arrow-clockwise"></i>
                <i class="bi bi-x"></i>
            </div>


        </nav>
    </div>
    <div class="d-flex justify-content-center">
        <div class="imgProfile">


            <img src="assets/avtr.png" alt="" class="imgSayhelo">

        </div>
    </div>
    <hr class="text-secondary position-line">
</div>
