/* You can add global styles to this file, and also import other style files */


body { margin: 0 !important;
  font-family:'Poppins', sans-serif;
  padding: 0 !important;
  box-sizing: border-box !important;
  transition: .5s ease;
  background-color: #fafaff;
}
